{{ define "main" }}
  <article>
    <h1>用 Tags 分類</h1>

    <ul class="posts-list">
      {{ range .Data.Terms.ByCount }}
        <li class="posts-list-item">
            <a class="posts-list-item-title" href="{{ .Page.Permalink }}">
              {{ .Page.Title }} ({{ .Count }})
            </a> 
        </li>
      {{ end }}
    </ul>
    
    <!-- list 的版本，都很醜 -->
    <!-- <ul>
        {{ $type := .Type }}
        {{ range $key, $value := .Data.Terms.ByCount }}
            {{ $name := .Name }}
            {{ $count := .Count }}
            {{ with $.Site.GetPage (printf "/%s/%s" $type $name) }}
                <li><a href="{{ .Permalink }}">{{ $name }}</a> {{ $count }}</li>
            {{ end }}
        {{ end }}
    </ul> -->

  </article>
{{ end }}
